:root {
  --blue: #0282f9;
  --bridal-heath: #fffbf6;
  --dark-gray: #262626;
  --gray: #323232;
  --sidecar: #f4eac0;
  --white: #fff;
  --white-smoke: #f5f5f5;
}

.red {
  background-color: red;
  height: 5rem;
  width: 5rem;
}

body {
  background-color: var(--dark-gray);
  /* color: var(--white); */
}
.game-wrapper {
  display: grid;
  grid-gap: 2rem;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  position: relative;
}

.card {
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card--picked {
  transform: rotateY(180deg);
  pointer-events: none;
}

.card.matched {
  pointer-events: none;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-color: #3498db;
}

.card-back {
  background-color: #2ecc71;
  transform: rotateY(180deg);
}
.card-back img {
  max-width: 60%;
}

.modal-win {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 24px;
  box-shadow: inset 0px 0px 20px 10px yellowgreen;
  z-index: 100;
}
